body {
    margin: 0;
    background-color: #1E1E1E;
    text-align: center;
	color: white;
}

a, input, span {
	color: white;
	text-decoration: none;
	font-family: monospace;
}

.menu {
	height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.menu li {
    margin: 20px;
}

.menu a, .menu span {
	text-decoration: none;
	font-size: 50px;
	line-height: 50px;
}

.menu a {
	cursor: pointer;
}

.little_menu {
    position: absolute;
    list-style: none;
    margin: 20px 20px 0 0;
    padding: 0;
    top: 0;
    right: 0;
}

.little_menu li {
    margin: 10px;
}

.little_menu a {
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}

.score {
	font-size: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.score .player.name {
	margin-bottom: 25px;
}

.score .score_j {
    cursor: pointer;
}

.score .player.inactive {
    opacity: 0.5;
}

.score input {
    font-size: 100px;
    background-color: transparent;
    border: none;
    width: 140px;
    text-align: center;
}

.balls {
	background-color: #4c4c4c;
	border-radius: 25px;
	padding: 8px;
	padding-bottom: 4px;
	width: fit-content;
}

.balls img {
	height: 50px;
	cursor: pointer;
	border-radius: 100%;
	opacity: 1;
	margin: 3px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.balls img.inactive {
	opacity: 0;
}

.break {
    font-size: 70px;
}

.home {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	height: 45px;
	filter: invert(1);
	cursor: pointer;
}

.save {
	position: absolute;
	top: 0;
	right: 0;
    font-size: 40px;
    padding: 20px;
}

.save a, .revert {
    cursor: pointer;
}

.revert {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3px;
	height: 80px;
}

label {
	display: inline-block;
	margin-top: 34px;
	margin-left: 20px;
}

.table_results, .table_records {
    position: relative;
    font-size: 20px;
    width: 50%;
    left: 20%;
    border-collapse: collapse;
    empty-cells: hide;
    margin: 5%;
}

.table_results th, .table_results td, .table_records th, .table_records td {
    padding: 5px;
    border: 1px solid #4c4c4c;
}

.table_results td.looser {
    color: #848484;
}

.favorite {
	width: 25px;
	margin-left: 20px;
	cursor: pointer;
	vertical-align: bottom;
}
